# IntelliJ project directory
/.idea/

# Vagrant VM directory
/.vagrant/

# scripts directory (for development)
/scripts/

# source
/src/

# tests directory (for development)
/tests/

.doclets.yml
.editorconfig
.eslintrc.js
.gitattributes
.npmignore
.publish.json
.travis.yml
vagrantfile
